.frame {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding: 10px 20px 20px 20px;
}

.innerFrame {
    width: 90%;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding: 10px 30px 30px 30px;
}

.innerFrame * {
    text-align: center;
}

.titolo {
    color: rgb(7, 110, 245);
    position: relative;
    top: 18px;
}

.generalButton {
    width: 80%;
    border-radius: 6px;
}

@media (max-width: 450px) {
    .generalButton {
        width: 100%;
    }
}

@media (max-width: 400px) {
    .innerFrame {
        width: 98%;
    }
}
