.titolo {
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid gray;
    padding: 20px;
}

.section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-flow: column;
    border-bottom: 1px solid gray;
    padding: 30px;
}

.button {
    margin-top: 12px;
}
