.list {
    overflow: scroll;
}

.fullOption {
    height: calc(100% - 45px - 45px - 45px - 61px);
}

.simple {
    height: calc(100% - 45px - 61px);
}

.filterButton {
    margin: 0;
}

.filterToolbar {
    height: 44.8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
