.list {
    overflow: scroll;
    padding: 0;
}

.immobiliList {
    height: calc(100% - 88px - 88px - 20px);
}

.immobiliListIos {
    height: calc(100% - 88px - 88px - 20px - 46px);
}

.fiveOtherElements {
    height: calc(100% - 88px - 88px - 65px);
}

.sixOtherElements {
    height: calc(100% - 88px - 88px - 65px - 62px);
}

.sevenOtherElements {
    height: calc(100% - 88px - 88px - 65px - 62px - 40px);
}

.stepsList {
    height: calc(100% - 88px - 88px - 65px - 48px);
}

.fiveOtherElementsIos {
    height: calc(100% - 46px - 88px - 88px - 65px);
}

.sixOtherElementsIos {
    height: calc(100% - 46px - 88px - 88px - 65px - 62px);
}

.sevenOtherElementsIos {
    height: calc(100% - 46px - 88px - 88px - 65px - 62px - 40px);
}

.stepsListIos {
    height: calc(100% - 46px - 88px - 88px - 65px - 48px);
}

.filterButton {
    margin: 0;
    border-bottom: 1px solid gray;
    max-height: 44px;
    background-color: white;
}
