.frame {
    height: 100%;
    background-color: aliceblue;
    border: 1px solid lightblue;
}

.over {
    background-color: red;
}

.image {
    height: 90%;
    width: 90%;
    max-height: 400px;
    max-width: 400px;
}

.isNotSelected {
    opacity: 0.6;
}

.isSelected {
    border: 2px solid #3880ff;
    opacity: 1;
}
