.frame {
    height: 340px;
    width: 340px;
    background-color: aliceblue;
    border: 1px solid lightblue;
    position: relative;
}

.over {
    background-color: red;
}

.image {
    height: 90%;
    width: 90%;
}

.isNotSelected {
    opacity: 0.6;
}

.isSelected {
    border: 2px solid #3880ff;
    opacity: 1;
}
