.height {
    height: calc(100% - 44px - 44px - 62px - 58px);
    overflow: scroll;
}

.heightIos {
    height: calc(100% - 44px - 44px - 62px - 58px - 46px);
    overflow: scroll;
}

.row {
    background: linear-gradient(to left, azure, white, rgb(255, 244, 244));
}

.fabButton {
    position: absolute;
    right: 20px;
    z-index: 9999;
    width: 140px;
    border-radius: 10px;
    padding: 6px 0px;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.4s ease;
}

.otherButton {
    top: 50px;
    color: rgb(241, 241, 241);
    border: #3880ff 1px solid;
    background-color: rgb(66, 66, 66);
}

.selectionButton {
    top: 20px;
    background-color: rgb(241, 241, 241);
    border: #3880ff 1px solid;
    color: rgb(66, 66, 66);
}

.selectionButton:hover {
    background-color: white;
    color: #3880ff;
}
