.ref {
    border: 1px solid gray;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 16px;
    margin: 16px;
    color: gray;
    margin-right: 20px;
}

.active {
    color: green;
    border: 1px solid green;
    background-color: rgb(228, 251, 224);
}

.inactive {
    color: rgb(155, 1, 1);
    border: 1px solid rgb(155, 1, 1);
    background-color: rgb(251, 217, 217);
}

.note {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
}

.large {
    padding: 27px 0;
}

.little {
    font-size: 75%;
}

.normalWidth {
    width: 70px;
}

.littleWidth {
    width: 50px;
}
