.contatti {
    background: linear-gradient(
        to left,
        rgb(206, 206, 206),
        rgb(255, 255, 255),
        rgb(237, 237, 237)
    );
    color: #333;
}

.dati {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    text-align: center;
    position: relative;
    top: -20px;
}

.content {
    position: relative;
    top: 6px;
    font-style: italic;
    color: rgb(7, 96, 250);
    line-height: 160%;
}

.dati * {
    margin-bottom: 20px;
    width: 90%;
}

.icon {
    height: 17px;
    width: 17px;
    margin-right: 8px;
}

@media screen and (max-width: 766px) {
    .mapCol {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 10px;
        padding-right: 10px;
        min-height: 400px;
    }
}
