.bigGrid {
    height: calc(100% - 48px - 62px - 62px - 4px);
    overflow: scroll;
}

.littleGrid {
    height: calc(100% - 48px - 62px - 62px - 44px - 6px);
    overflow: scroll;
}

.bigGridIos {
    height: calc(100vh - 48px - 62px - 62px - 4px);
    overflow: scroll;
}

.littleGridIos {
    height: calc(100vh - 48px - 62px - 62px - 44px - 6px);
    overflow: scroll;
}

.upperGrid {
    max-height: 48px;
}

.gray {
    background-color: rgb(234, 234, 234);
}

.item {
    border-bottom: 1px solid lightgray;
    padding: 0;
    margin: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.list {
    border-right: 1px solid lightgray;
    padding: 0;
}

.item.now {
    border: 1px solid rgb(213, 7, 7);
    position: relative;
    top: -1px;
}

.appFrame {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}
