.modalContent {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: scroll;
}

.modalContent ion-datetime {
    position: relative;
    top: 30px;
}
