.footer {
    height: 62px !important;
    position: sticky;
    bottom: 0;
}

.toolbar {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lifted {
    max-height: 50px !important;
}

.bordered {
    border-top: 1px solid lightgray;
}
