.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80%;
    width: 100%;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80%;
    width: 100%;
}

.button {
    position: relative;
    top: 50px;
}

.background {
    height: calc(100% - 90px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backdrop {
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: lightgray;
    position: absolute;
}

.datapicker {
    z-index: 1000;
    position: relative;
    top: -50px;
}
