.tooltip {
    position: absolute;
    padding: 10px;
    border-radius: 6px;
    transition: all 0.6s;
    z-index: 9999;
    background-color: white;
    border: 1px solid gray;
}

.above {
    top: -40px;
}

.below {
    top: 20px;
}

.deactivated {
    display: none;
}

.activated {
    display: block;
}

.app {
    border: 1px solid gray;
    height: 33px;
    width: 40px;
    border-radius: 6px;
    padding: 2px 6px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
    transition: 0.6s all;
}

.app:hover {
    cursor: pointer;
    color: #555;
    background-color: white;
}

.past:hover {
    cursor: not-allowed !important;
}

@media (max-width: 1110px) {
    .app {
        margin-left: 0;
        margin-right: 0;
        font-size: smaller;
        width: 38px;
    }
}

@media (max-width: 990px) {
    .app {
        margin: 5px;
        width: 40px;
    }
}

@media (max-width: 905px) {
    .app {
        margin-left: 0;
        margin-right: 0;
        font-size: smaller;
        width: 38px;
    }
}

@media (max-width: 699px) {
    .app {
        font-size: normal;
        width: 50px;
        margin-left: 10px;
        margin-right: 10px;
    }
}
