.selected {
    color: var(--ion-color-light) !important;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.bordered {
    border: 4px solid blue;
}

.gray {
    background-color: rgb(235, 235, 235);
}

ion-split-pane {
    --side-max-width: 200px;
    --side-min-width: 200px;
}
