.immagine {
    width: 90%;
    height: 90%;
    transform: scale(1.8);
    margin-right: 12px;
    position: relative;
    left: 25px;
    border-radius: 6px;
}

.inactive {
    border: 1px solid #a40318;
}

.active {
    border: 1px solid #018937;
}
